
li {
    list-style: outside none none;
}
.thumbnail {
}
.thumbnail:hover, .thumbnail.active {
    background-color: #f6c2a0;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    position: relative;
    width: 100%;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
}
.stepwizard-row:before {
    background-color: #ccc;
    bottom: 0;
    content: " ";
    height: 1px;
    position: absolute;
    top: 14px;
    width: 100%;
}
.stepwizard-step {
    display: table-cell;
    position: relative;
    text-align: center;
}
.btn-circle {
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 30px;
}
#radioBtn .notActive {
    background-color: #fff;
    background-image: linear-gradient(#fff, #fff 60%, #fff);
    color: #3276b1;
}
