body { background: url('/assets/images/bg.jpg'); }
.wrapper { /*min-width: 1024px;*/ }
.main-content {

}
/* Start header */
.sp-header { background: #FFF;/*url('/assets/images/header_bg.jpg')*/ }
.sp-header img { width:100%; }
.sp-header .logo { min-height: 90px; background: #FFF; padding: 0; }
.sp-header ul {
    position: absolute;
    right: 15px;
    top: 0;
}
.sp-header ul li {
    float: left;
    font-size: 15px;
    font-weight: bold;
    list-style: outside none none;
    padding: 2px 0 0 15px;
    margin-left: 10px;
}
.sp-header a { color: #666; text-decoration: none; }
.sp-header .cart {

}
.sp-header .order {

}
.sp-header .profile {

}
.sp-header .login {

}
.sp-header .logout {

}
.sp-header sup {
    background: none repeat scroll 0 0 #fff;
    border-radius: 60px;
    color: #ff0000;
    margin-left: 2px;
    padding: 0 5px;
}
/* End Header */

/* Menu */
.sp-menu { background: url('/assets/images/bg-menu.png') }
.sp-menu > div > ul {
    padding-left: 0;
}
.sp-menu > div > ul > li{
    float: left;
    list-style: outside none none;
    padding: 8px 20px;
}

.sp-menu > div > ul > li a {
    color: #FFF; text-transform: uppercase; text-decoration: none;
}
.sp-menu > div > ul > li:hover {
    background: #FF0000;
}

.sp-menu > div > ul > li:hover ul {
    display: block;
}

.sp-menu > div > ul > li ul {
    display: none;
    position: absolute;
    background: #444;
    top: 35px;
    padding: 0;
    z-index: 100;
}
.sp-menu > div > ul > li ul li {
    list-style: none;
    padding: 10px;
}
.sp-menu > div > ul > li ul li a { text-transform: capitalize; }
.sp-menu > div > ul > li ul li:hover {
    background: #FF0000;
}

/* Search */
.sp-search button {
    background: url("/assets/images/search.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    padding: 15px;
    position: relative;
    top: -2px;
}
.sp-search input { position: relative; top: 4px; }

/* social */
.social {
    background: url('/assets/images/social.png') no-repeat;
    padding: 5px 11px;
    position: relative;
    top: 7px;
    border-radius: 4px;
    margin-right: 2px;
}
.twitter { background-position: 0 -5px; }
.facebook { background-position: -26px -5px; }
.google_plug { background-position: -75px -5px; }
.youtube { background-position: -50px -5px; }

/* List category */
.sp-categories {
    background: #000; color: #FFF; margin: 0;
}
.sp-categories img { width: 100%; height: 135px; }
.sp-categories select {
    margin-bottom: 5px;
}
.sp-categories > div:first-child { margin-top: 5px;}
.sp-cat-block span { display: block; padding: 10px 0; }
.sp-categories a { color: #FFF; text-decoration: none; }
.sp-categories .sp-cat-block div {
    border: 1px solid #000;
}
.sp-categories .sp-cat-block div:hover {
    border-color: #FF0000;
}
.sp-categories a:hover {
    color: #AAA;
}

/* Product view in home */
.sp-products { background: #000; color: #FFF; margin: 0; }
.sp-products h2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.42857;
}
.sp-products .list { background: #FFF; color: #333; }

.sp-products .list a { color: #333; }
.sp-block img {
    margin: 2%;
    width: 96%;
}

.sp-block {
    /*border-bottom: 1px solid;
    border-right: 1px solid;*/
}
.sp-block a { color: #FFF; text-decoration: none;}
.sp-block a:hover {
    color: #2fa4e7;
}
.item-price  { font-size: 18px; margin-top: 5px; }
/* Footer */
.footer {
    padding: 10px;
    background: url('/assets/images/footer.png') #ff0000;
    color: #FFF;
}

div.loading {
    background: url('/assets/images/loading.gif') no-repeat center #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.item-not-found {
    background: none repeat scroll 0 0 #ff0000;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.menu-bottom .col-sm-10 .row { margin: 10px; }
.menu-bottom ul {
    padding: 0;
}
.menu-bottom h4 { text-transform: uppercase; font-size: 15px;font-weight: bold; }
.menu-bottom h4, .menu-bottom a { color: #FFF; text-decoration: none; }
.menu-bottom span { position: relative; top: 2px; margin-right: 5px; }
.menu-bottom a:hover { color: #666; }
.menu-bottom li {
    list-style: none;
    padding: 5px 0;
}

a.home {
    /*left: 15px;*/
    padding: 42px 135px;
    position: absolute;
    text-indent: -1000px;
    top: 0;
}

/* Template for all page */
.required {
    color: #ff8000;
    padding: 5px;
}
div.message { margin-top: 10px;}

.highlight {
    background-color: #FFFF88;
}