.auth-form {
    background: #FFF;
    margin-top: 10px;
    padding: 20px;
}
.auth-form .login-data {
    margin: 10px;
    border: 1px solid #DDD;
}
.auth-form h2 {
    border-bottom: 1px solid #DDD;
}

.auth-form .login-data a.pull-right { margin-top: 10px;}

.auth-form .register_data {
    margin-bottom: 20px;
}