.cart-data {
    background: #FFF;
    margin: 0;
    padding-bottom: 25px;
}
.cart-data .view h2 {
    background: url("/assets/images/cart-large.png") no-repeat scroll 0 -7px / 45px auto rgba(0, 0, 0, 0);
    padding-left: 45px;
}

.cart-data .sum h2 {
    background: url("/assets/images/sum.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    padding-left: 30px;
}