.item-info {
    background: url('/assets/images/product_info_title.png') no-repeat;
    height: 45px;
}
.sp-products.detail {
    margin-top: 15px;
    background: #FFF;
}
.sp-products.detail .list {
    padding: 0;
}

.list .col-sm-7 img {width: 100%; }
div.add-to-cart { padding-right: 35px;}
div.add-to-cart .row {
    padding-top: 10px;
}
div.add-to-cart b { text-decoration: underline; }
.des { padding: 0 40px 20px; }
span.add-cart {
    background: url("/assets/images/add-to-cart.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 15px 65px;
    position: relative;
    top: -4px;
}
div.price { font-size: 20px; font-weight: bold; color: #FF0000; position: relative; top: -5px; }
.other-product { padding:20px; }
.product-fit-title {
    background: url('/assets/images/product_fit_title.png') no-repeat;
    height: 45px;
}