.profile-wrapper {
    margin: 10px 0;
}
.profile_data {
    background: #FFF;
    padding-top:10px;
}
.profile-wrapper .menu li {
    list-style: none;
    padding: 5px 0;
}

.profile-wrapper .menu li:first-child {
    padding-top: 0;
}
.profile-wrapper .menu ul { padding: 0;}
.profile-wrapper .menu li .avatar {
    width: 100%;
    margin-bottom: 10px;
}

.profile-wrapper .menu a {
    color: #FFF;
}
.icon-order {
    background: url("/assets/images/icon/order-history.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 30px;
}
.icon-trans{
    background: url("/assets/images/icon/dollar-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 30px;
}
.icon-profile {
    background: url("/assets/images/icon/profile-setting.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 30px;
}
.profile_data img { width: 100%; }
#dataTables-example_filter input { margin-left: 5px; }