<div class="menu">
    <div class="top-nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="specials.html">Specials</a></li>
            <li class="active"><a href="new.html">New</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>