<div class="header_bottom_right_images">
    <div id="slideshow">
        <ul class="slides">
            <li><a href="details.html">
                    <canvas></canvas>
                    <img src="images/banner4.jpg" alt="Marsa Alam underawter close up"></a></li>
            <li><a href="details.html">
                    <canvas></canvas>
                    <img src="images/banner2.jpg" alt="Turrimetta Beach - Dawn"></a></li>
            <li><a href="details.html">
                    <canvas></canvas>
                    <img src="images/banner3.jpg" alt="Power Station"></a></li>
            <li><a href="details.html">
                    <canvas></canvas>
                    <img src="images/banner1.jpg" alt="Colors of Nature"></a></li>
        </ul>
        <span class="arrow previous"></span>
        <span class="arrow next"></span>
    </div>

    <div class="content-wrapper">
        <div class="content-top">
            <div class="box_wrapper"><h1>{{ t._('New products') }}</h1>
            </div>
            <div class="text">
                {% if products | length %}
                {% for p in products['data'] %}
                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                        <a href="{{ p['link'] }}"><img src="{{ p['src'] }}"
                                                   title="{{ p['title'] }}" alt="{{ p['title'] }}"></a>

                        <div class="grid_desc">
                            <p class="title">{{ p['title'] }}</p>
                            <div class="price" style="height: 19px;">
                                <span class="reducedfrom">{{ p['price'] }}</span>
                                {% if p['sale_off'] %}
                                <span class="actual">{{ p['sale_off'] }}</span>
                                {% endif %}
                            </div>
                            <div class="cart-button">
                                <div class="cart">
                                    <a href="#"><img src="{{ url('assets/') }}images/cart.png" alt=""/></a>
                                </div>
                                <button class="button"><span>{{ t._('Details') }}</span></button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="clear"></div>
            </div>
        </div>
        <div class="content-top">
            <div class="box_wrapper"><h1>{{ t._('Featured Products') }}</h1>
            </div>
            <div class="text">
                {% if feature | length %}
                {% for d in feature %}
                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                        <a href="single.html"><img src="images/pic1.jpg"
                                                   title="continue reading" alt=""></a>

                        <div class="grid_desc">
                            <p class="title">Lorem ipsum dolor sitconsectetuer adipiscing
                                elit</p>

                            <p class="title1">Lorem ipsum dolor sitconsectetuer adipiscing
                                elit</p>

                            <div class="price" style="height: 19px;">
                                <span class="reducedfrom">$66.00</span>
                                <span class="actual">$12.00</span>
                            </div>
                            <div class="cart-button">
                                <div class="cart">
                                    <a href="#"><img src="{{ url('assets/') }}images/cart.png" alt=""/></a>
                                </div>
                                <button class="button"><span>Details</span></button>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="clear"></div>
            </div>
        </div>
    </div>

</div>

<div class="header-para">
    <div class="categories">
        <div class="list-categories">
            <div class="first-list">
                <div class="div_2"><a href="">Cars</a></div>
                <div class="div_img">
                    <img src="images/car1.jpg" alt="Cars" title="Cars" width="60" height="39">
                </div>
                <div class="clear"></div>
            </div>
            <div class="first-list">
                <div class="div_2"><a href="">Rental</a></div>
                <div class="div_img">
                    <img src="images/car2.jpg" alt="Cars" title="Cars" width="60" height="39">
                </div>
                <div class="clear"></div>
            </div>
            <div class="first-list">
                <div class="div_2"><a href="">Banking</a></div>
                <div class="div_img">
                    <img src="images/car3.jpg" alt="Cars" title="Cars" width="60" height="39">
                </div>
                <div class="clear"></div>
            </div>
            <div class="first-list">
                <div class="div_2"><a href="">Trucks</a></div>
                <div class="div_img">
                    <img src="images/car4.jpg" alt="Cars" title="Cars" width="60" height="39">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="box">
            <div class="box-heading"><h1><a href="#">Cart:&nbsp;</a></h1></div>
            <div class="box-content">
                Now in your cart&nbsp;<strong> 0 items</strong>
            </div>
        </div>
        <div class="box-title">
            <h1><span class="title-icon"></span><a href="">Branches</a></h1>
        </div>
        <div class="section group example">
            <div class="col_1_of_2 span_1_of_2">
                <img src="images/pic21.jpg" alt=""/>
                <img src="images/pic24.jpg" alt=""/>
                <img src="images/pic25.jpg" alt=""/>
                <img src="images/pic27.jpg" alt=""/>
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <img src="images/pic22.jpg" alt=""/>
                <img src="images/pic23.jpg" alt=""/>
                <img src="images/pic26.jpg" alt=""/>
                <img src="images/pic28.jpg" alt=""/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>